{% extends "base.html" %}
{% block title %}page4{% endblock %}

{% block content %}

<section id="pg11">

    <div class="row">
        <div class="part12">
            <img src="https://live.staticflickr.com/3638/3328817721_667c023293.jpg" class="arp">
            <p class="part13"><br>Though Netscape lost the browser war,it was a pioneer of web browsers and this inspired many companies like Google,
                Yahoo which replaced Microsoft’s Internet Explorer.<br><br>
                Jerry Yang and David Feiler were two students from Stanford University who invented Yahoo in 1994. They made documentation on how to use the
                Internet and many people flocked to that website. Michael Mortiz,venture capitalist at sequoia capital invested in yahoo in its early stages.
                Companies like Google and Yahoo knew how to make billions of dollars on the internet:ADVERTISING.<br> <br>Yahoo started putting ads on their website
                just to make revenue. Joe Kraus, co-founder of the company called Excite, was the rival of Yahoo. Their search engine was much more sophisticated
                than that of Yahoo. It was query driven. With all the advertising revenue coming in, the founders of all the search engines actually lost their
                vision. Users had to actually try various permutations and combinations just to get the desired output. This was the beginning of the end.
                This is also when Google was born.
                <br><br>Google Inc. was officially launched in 1998 by Larry Page and Sergey Brin to market Google Search, which has become the most used web-based
                search engine. Larry Page and Sergey Brin, students at Stanford University in California, developed a search algorithm at first known as "BackRub" in 1996,
                with the help of Scott Hassan and Alan Steremberg. The search engine soon proved successful and the expanding company moved several times,
                finally settling at Mountain View in 2003.
            </p>
        </div>

    </div>
</section>

<section id="pg14">

    <div class="row">
        <div class="part15">
            <img src="https://live.staticflickr.com/228/454205528_bfc21d7baf.jpg"  class="altair">
            <p class="part16">Larry page and Sergey Brin were the founders of google.Google was built on how many clicks a page was getting. The more the number of clicks the
                more the priority. In yahoo and Excite people were always redirected to the other web page. They used that model to make Google and directed the
                user directly to that web page making it really fast and more convenient. Andy Bechtolsheim, Michael Mortiz and John Doear were few of the
                investors who had invested in Google.Google were not against ads but wanted in a much sophisticated way. So they copied the idea from Bill Gross
                founder of Idealab. Bill coined the word KEYWORD. In 1988, he launched a company called OVERTURE based on keywords and links. It was an instant
                success. Larry and Sergei met Bill to try to find a way. They left without making a deal and they soon came up with google adwords which was really
                identical to overture. To compensate they gave bill gross stocks of google which made him really happy. On August 19,2004, Google went public.
                In 5 years the company made nearly 5 billions in revenue.
                The company launched Google News in 2002, Gmail in 2004, Google Maps in 2005, Google Chrome in 2008, and the social network known as Google+ in 2011
                (which was shut down in April 2019), in addition to many other products. In 2015, Google became the main subsidiary of the holding company Alphabet Inc.

                The search engine went through many updates in attempts to eradicate search engine optimization abuse, provide dynamic updating of results, and make the indexing system rapid and flexible. Search results started to be personalized in 2005, and later Google Suggest autocompletion was introduced. From 2007, Universal Search provided all types of content, not just text content, in search results.

                Google has engaged in partnerships with NASA, AOL, Sun Microsystems, News Corporation, Sky UK, and others. The company set up a charitable offshoot, Google.org, in 2005.

                The name Google is a misspelling of Googol, the number 1 followed by 100 zeros, which was picked to signify that the search engine was intended to provide large quantities of information.


            </p>
        </div>

    </div>
</section>

{% endblock %}